.nav-tabs .nav-link.active{
    border:none;
    border-bottom: 2px solid #C8242F;
    color: #C8242F;
    font-weight: 500;
    background-color: white;
}

.nav-tabs .nav-link:not(.active){
    border: none;
    color: #ADADAD;
}

.form-check-input[type="radio"]:checked{

    border-color: #C8242F;
    background-color: #C8242F;
    box-shadow: none;
}
input[type="radio"]:checked  + .form-check-label{
    color: #C8242F  ;
}

.form-check-input[type="checkbox"]:checked{

    border-color: #C8242F;
    background-color: #C8242F;
    box-shadow: none;
}


 .search-input {
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 16px;
  padding-left: 40px; 
}

.form-floating > label {
    background: white; /* or var(--bs-body-bg) */
    padding: 0 0.5rem;
    height: auto;
    top: 15px;
    left: 0.75rem;
    
  }
  
  .form-floating > .form-control:focus ~ label,
  .form-floating > .form-control:not(:placeholder-shown) ~ label {
    transform: translateY(-100%) scale(0.85);
  }
  
