body {
    font-family: 'Roboto', sans-serif;
}

.hero_circle {
    max-width: 450px;
    max-height: 450px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.hero_circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-box {
    max-width: 400px;
}

@media(max-width:768px) {
    .hero_circle {
        max-width: 350px;
        max-height: 350px;
    }

    .login_section {
        margin-left: 10%;
    }

}



.form-floating > label {
    background: white; /* or var(--bs-body-bg) */
    padding: 0 0.5rem;
    height: auto;
    top: 15px;
    left: 0.75rem;
    
  }
  
  .form-floating > .form-control:focus ~ label,
  .form-floating > .form-control:not(:placeholder-shown) ~ label {
    transform: translateY(-100%) scale(0.85);
  }
  