
 
.stat-box {
    background: #ffffff;
    padding: 16px 20px;
    border-radius: 10px;
    height: 100%;
    width: 200px;
    color: #3E3E3E;
}
 
.stat-box h6 {
    font-size: 18px;
}
 
.stat-box img {
    flex-shrink: 0;
}
 
.dashboard_title {
    text-align: left;
    font: normal normal 500 25px/39px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
 
.graph_text {
    height: 400px;
    width: 750px;
}
 
.sale {
    font: normal normal 600 18px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}
 
.line {
    text-decoration: underline;
    text-underline-offset: 10px;
 
}
 
.pie_chart_text {
    font: normal normal 600 18px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}
 
 
.country_name {
    font: normal normal 500 12px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}
 
.pie_chart {
    position: absolute;
    height: 150px;
    width: 150px;
    left: 50px;
}
 
.dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    border-radius: 50%;
}
 
.red {
    background: #C8242F 0% 0% repeat padding-box;
 
}
 
.orange {
    background: #F16C20 0% 0% repeat padding-box;
 
 
}
 
.green {
    background: #A2B86C 0% 0% repeat padding-box;
 
}
 
.yellow {
    background: #EBC844 0% 0% repeat padding-box;
 
}
 
 
 
.invoice {
    width: 70px;
    height: 16px;
    font: normal normal 500 18px/29px Roboto;
    color: #3E3E3E;
    opacity: 1;
}
 
.view_all {
    width: 70px;
    height: 16px;
    font: normal normal 500 12px/16px Roboto;
    color: #C8242F;
    opacity: 1;
}
 
 
.invoice_table {
    font: normal normal normal 12px/20px Roboto;
    color: #3E3E3E;
}
 