body {
    font-family: 'Roboto', sans-serif;
}

.hero_circle {
    max-width: 450px;
    max-height: 450px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.hero_circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-box {
    max-width: 400px;
}

@media(max-width:768px) {
    .hero_circle {
        max-width: 350px;
        max-height: 350px;
    }

    .login_section {
        margin-left: 10%;
    }

}